/*CSS Reset*/
*{
    margin:0px;
    padding: 0px;
}
/*Stling the body*/
body{
   background: #121312;
    color: #fff0f0;
    
}
  
/*Styling the name LogIn*/
h1{
    
    margin-bottom: 10px;
    color:#ffffff;
    font-weight: bold;
    background: none;
    margin-right: 105px;
    margin-top: 50px;
    font-family: 'Arial Narrow';

   
}
  
/*Styling the class container*/
.container{
    width: 100%;
    height:100vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: url('cinco.jpg')no-repeat center center fixed;
      
}
.row1{
    position: absolute;
    left: 33%;
    height: 500PX;
}
  
/*Styling and positioning the login form*/
.row{
    position: relative;
}
.row input{
    position: relative;
    left: 25px;
    margin:10px;
    padding: 10px;
    width:80%;
    outline:none;
    background: none;
    border: 0px;
    font-weight: bold;
    border-bottom:3px solid rgb(239, 239, 240);
    font-family: 'Arial Narrow';
}
.row i{
    font-family: 'Arial Narrow';
    position: absolute;
    margin-top:10px;
    padding: 10px;
     
}
/*Styling the buttons in the login*/
.btn{
    width: 4rem;
    border-radius: 15px;
    background: none;
    margin-right: 105px;
    background-color:rgb(173, 194, 134);
    color: blanchedalmond;
    outline:none;
    font-family: 'Baloo Bhai 2', cursive;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(245, 245, 245);
    color:white;
}

.login-link{
    width: 81%;
    text-align: center;
    background-color: #2C83F2;
    margin-top: 10px;
    margin-left: 23px;
    padding: 11px;
    border-radius: 7px;
    text-decoration: none;
}

.link{
    
    text-decoration: none;
    color: #fff;
}

a .login-link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.new-account-links{
    
    text-decoration: none;
    
    color: #fff;
    margin-left: 20px;
    padding: 11px;
    border-radius: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.979);
    
}