*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.container{
    position: absolute;
     left: 100%;   
    top: 73px;
}

.Lembra-Me{
    position: absolute;
    width: 55%;
    left: 20%;   
    top: 200px;
    text-align: center;
    
    
}

.text-center text-lg-start bg-body-tertiary text-muted{
    margin-left: 50px ;
}


.titulo{
    position: absolute;
    right: 40px;
     left: 5%;   
    top: 40px;
    padding: 5;
    border:2px;
    
    
}
.lado-direito{
    text-decoration: none;
    border-radius: 7px;
    font-size: 15px;
    top: 40px;
}

.lado-direito h2{

    background: #00bb19;

}